<!doctype html>
<html>
<head>
	<title>Easy Online Editor</title>
	<meta charset='utf-8'>
	
	<link rel="stylesheet" type="text/css" href="<{$smarty.const.CSS_PATH}>/style.css">
</head>
<body>
	<div class="main">
		<div class="left">
			<div class="filelist" id="filelist">
				<div class="treeinfo">
					路径：<span id="currentPath">/</span>
				</div>
				<div class="treecontainer" id="treecontainer" onselectstart="return false;">
					<ul class="tree" id="filetree">
						<li title="tmp" class="dir selected"><div write="1" read="1"><span>tmp</span></div></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="top-panel" id="top-panel" onselectstart="return false;"></div>
			<div class="editor" id="editor"></div>
			<div id="fileCache" style="display:none"></div>
		</div>
	</div>
	<script type="text/javascript" src="<{$smarty.const.JS_PATH}>/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="<{$smarty.const.ACE_PATH}>/ace.js"></script>
	<script type="text/javascript" src="<{$smarty.const.JS_PATH}>/define.js"></script>
	<script type="text/javascript" src="<{$smarty.const.JS_PATH}>/main.js"></script>
</body>
</html>